[Desktop Entry]
Name=AJ Classic
Type=Application
StartupNotify=true
Comment=Via AJCEverywhere
Path=/usr/bin/ajceverywhere
Icon=ajceverywhere
Exec=/usr/bin/aj-classic
Categories=Game;
